*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.box
{
    width: 80%;
    min-height: 100px;
    margin: auto;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(6,auto);
    grid-gap: 10px;
}
.b1
{
    background-color: aqua;
    color: white;
}
.b2
{
    background-color: brown;
    color: white;
}
.b3
{
    background-color: crimson;
    color: white;
}
.b4
{
    background-color: blueviolet;
    color: white;
}
.b5
{
    background-color: indianred;
    color: white;
}
.b6
{
    background-color: black;
    color: white;
}